<h1>Swami ji Saahitya:</h1>
<ol>
  <li>Patra Piyush</li>
  <li>Gita Vimarsh</li>
  <li>Hamari Sadhana</li>
  <li>Mere Vichar</li>
  <li>Aadhyatmic Saadhan</li>
  <li>Aadhyatamic Saadhan bhaag-1</li>
  <li>Aadhyatamic Saadhan bhaag-2</li>
  <li>Sex and Spirituality</li>
  <li>Dakchid Yaatra</li>
  <li>Evolutionary Outlook on life</li>
  <li>Letters to Seekers</li>
  <li>Pattiyan aur Phool</li>
</ol>